
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar10">
               <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a routerLink="/login" class="nav-link">Login</a>
                </li>
                   <li class="nav-item">
                        <a class="nav-link" href="logcategories.html"> <b>Categories</b> </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/home"class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="logcontact.html"><b>WishList</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="logcontact.html"><b>MyCart</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
            <div class="my-3 small">
               <h1 class="text-center"> <img src="../../assets/logo.png" height="50" width="50">
                &nbsp;<a href="logabout.html" class="text-dark ">E-Shopping Zone</a>
                </h1>
                <p class="text-center text-dark"><b>All Your Needs At One Place</b></p>
            </div> 
  
            <!-- Search Form Part Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
                <h2 class="text-light">Welcome</h2>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <form class="form-inline ms-auto">
                    <table class="mr-4">
                        <tr class="mr-auto">
                            <td>
                    <input class="form-control mr-sm-5" type="search" placeholder="Search Your Products" aria-label="Search">
                    </td>
                    <td>
                      <button class="btn btn-outline-success my-20 my-sm-0 ml-2" type="submit">Search</button>
  
                    </td>
                    </tr>
                </table>
                  </form>
        </div>
        
        </nav>
  </header> 