<br>
<h2 class="text-success mb-4">SignUp For EShoppingZone</h2>

<form>
    <div class="mb-3">
      <label for="firstNameInput" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstNameInput" placeholder="Enter your first name" required>
    </div>
    <div class="mb-3">
      <label for="lastNameInput" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastNameInput" placeholder="Enter your last name" required>
    </div>
    <div class="mb-3">
      <label for="emailInput" class="form-label">Email address</label>
      <input type="email" class="form-control" id="emailInput" placeholder="Enter your email address" required>
    </div>
    <div class="mb-3">
      <label for="passwordInput" class="form-label">Password</label>
      <input type="password" class="form-control" id="passwordInput" placeholder="Enter your password" required>
    </div>
    <div class="mb-3">
      <label for="confirmPasswordInput" class="form-label">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPasswordInput" placeholder="Confirm your password" required>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
  